
body{
    background:lightgrey;
    margin:0;
    padding:0;
    height:100%;
}

#wrapper {  /*http://cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/*/
    min-height:100%;
    position:relative;
}

/* https://teamtreehouse.com/community/html-code-for-a-menu-bar  */
.header {
    background: none repeat scroll 0 0 #363E45;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 56px;
    position: fixed;
    width: 100%;
    min-width: 300px;
    /*max-width:1000px;*/
    /*vertical-align: top;*/
    /*z-index: 100;*/
}
.body{
    padding-top:70px;
    max-width:1000px;
    padding-bottom:100px;

    /*margin:auto;*/
}

.footer{
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
}

.header-inner {
    padding: 8px 10px 0;
    position: relative;
}

.header-inner a, .header-inner div {
    color: #959B9D;/*#959B9D*/
    background-color: #363E45;
    float: left;
    margin: -8px 5px 0 -10px;
    padding: 11px 15px;
    font-size: 25px;
    text-decoration: none;
}
.header-inner div  {
    float: right;
    font-size: 20px;
}
#header_active{
    color: white;
    /*font-weight: bold;*/
}
/* https://teamtreehouse.com/community/html-code-for-a-menu-bar*/
.redtext{
    color:darkred;
}
.different_background{
    background:lightblue;
}
ul.menu:hover{
    color: brown;
    font-weight: bold;
}

.button_green {
    display: block;
    background-color: #3bc78b;
    color: #fff;
    font-family: FFMaxWebPro serif;
    padding: 5px 8px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.button_greener {
background-color: #3BC78B;
color: #FFF;
font-weight: bold;
padding: 6px 10px;
border-radius: 4px;
}

.table_gallery img  {
    border: 2px solid  #363E45;
}

/*

piltide navigeerimine ilusam

*/

#prev, #next {
    display:block;
    position: absolute;
    top:0px;
    bottom:0px;
    width: 40px;
}
#prev:hover, #next:hover{
    background-color: rgba(255,255,255,0.1);
}
#prev {
    left:0px;
    background: url("prev.png") center no-repeat;
}
#next {
    right:0px;
    background: url("next.png") center no-repeat;
}



/*viies praks, javaskript*/

#taust{ /* taust, mis peidab lehe sisu */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    z-index:5;
}
#tabel{ /* toob suure pildi esile ja määrab kuvamise ala tabelina */
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin:0 auto;
    z-index: 10;
    display:table;
    width:100%;
    height:100%;
    color:white;
}
#cell{ /* paigutab pildi ja teksti vertikaalselt keskele nagu tabelivälja */
    display:table-cell;
    vertical-align:middle;
}
#sisu { /* teeb pildi ümbruse kitsamaks ja annab tausta */
    display: table;
    margin: auto;
    background: rgba(0,0,0,0.7);
    padding: 10px;
}
#sulge { /* sulgemise element */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15;
    padding:4px;
    font-weight: bold;
}
#hoidja {  /* ümbritseb kogu suure pildi elementide hulka 0px kõrgusena, et teised elemendid taga oleks kasutatavad*/
    height: 0px;
}
/*viies praks, javaskript*/