
body{
    background:lightgrey;
    margin:0px;
    padding:0px;
    height:100%;
}

#wrapper {  /*http://cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/*/
    min-height:100%;
    position:relative;
}

/* https://teamtreehouse.com/community/html-code-for-a-menu-bar  */
.header {
    background: none repeat scroll 0 0 #363E45;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 56px;
    position: fixed;
    width: 100%;
    min-width: 300px;
}
.body{
    padding-top:70px;
    max-width:1000px;
    padding-bottom:100px;
    padding-left:2%;
    /*margin:auto;*/
}

.footer{
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
    padding-left: 2%;
}

.header-inner {
    padding: 8px 2%;
    position: relative;
}

.header-inner a, .header-inner div {
    color: #959B9D;/*#959B9D*/
    background-color: #363E45;
    float: left;
    margin: -8px 5px 0 -10px;
    padding: 11px 15px;
    font-size: 25px;
    text-decoration: none;
}
.header-inner div  {
    float: right;
    font-size: 20px;
}
#header_active{
    color: white;
}
/* https://teamtreehouse.com/community/html-code-for-a-menu-bar*/
.redtext{
    color:darkred;
}
.different_background{
    background:lightblue;
}

.button_green {
    display: block;
    background-color: #3bc78b;
    color: #FFF;
    font-family: FFMaxWebPro serif;
    padding: 5px 8px;
    border-radius: 4px;
    width: 180px;
    font-weight: bold;
    text-decoration:none;

}
.img_view img{
    border: 2px solid  #363E45;
}
.button_green:hover{
    text-decoration:underline;
    cursor:pointer;
}

.imageingallery img  {
    border: 2px solid  #363E45;
}
.imageingallery{
    text-align:center;
}

