
body{
    background:lightgrey;
}
h1{
    padding-top:60px;
}
.body{
    max-width:1000px;
    margin:auto;
}
.redtext{
    color:darkred;
}
.different_background{
    background:lightblue;
}
ul.menu:hover{
    color: brown;
    font-weight: bold;
}
/* https://teamtreehouse.com/community/html-code-for-a-menu-bar*/
.header {
    background: none repeat scroll 0 0 #363E45;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: 56px;
    position: fixed;
    width: 100%;
    /*max-width:1000px;*/
    /*vertical-align: top;*/
    /*z-index: 100;*/
}

.header-inner {
    padding: 8px 10px 0;
    position: relative;
}

.header-inner a, .header-inner div {
    color: #959B9D;
    float: left;
    margin: -8px 5px 0 -10px;
    padding: 11px 15px;
    font-size: 25px;
    text-decoration: none;
}
.header-inner div  {
    float: right;
    font-size: 20px;
}
#header_active{
    color: white;
    /*font-weight: bold;*/
}
/* https://teamtreehouse.com/community/html-code-for-a-menu-bar*/
.button_green {
    display: block;
    background-color: #3bc78b;
    color: #fff;
    font-family: FFMaxWebPro serif;
    padding: 5px 8px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.button_greener {
background-color: #3BC78B;
color: #FFF;
font-weight: bold;
padding: 6px 10px;
border-radius: 4px;
}

.table_gallery img  {
    border: 2px solid  #363E45;
}
.img_view >img {
    border: 2px solid  #363E45;
}