
<?php
$picmod=array(); //picture to modify
if(isset($_GET['img'])){$picmod=pic_from_base($_GET["img"]);};
//print_r($picmod);
?>
<!--<?php ( explode('\\',$picmod[0]['pic'])); ?>-->
<div class="formtables">
<form method="POST" enctype="multipart/form-data" action="?mode=change" id ="change" >
    <?php if(isset($_GET["img"])){
        echo 'Fill the information with new data to modify chosen picture: ';
        echo htmlspecialchars($picmod["title"]);
        echo '</p>';
    };?>
    <br>
    <table>
        <tr>
            <td>Author:</td><td colspan="1"><input type="text" name="img_author" value="<?php
            if(isset($_GET['img'])){echo htmlspecialchars($picmod['author']);}; ?>"></td>
        </tr>
        <tr>
            <td>Title:</td><td colspan="1"><input type="text" name="img_title" value="<?php
            if(isset($_GET['img'])){echo htmlspecialchars($picmod['title']);}; ?>">
            </td>
        </tr>
        <!--<tr>
            <td>folder:</td><td colspan="2">
            <select name="img_folder">
                <option value ="new_folder">new folder</option>
                <option value ="one">one</option>
                <option value ="two">two</option>
            </select>
        </td>
            <td>new folder:</td>
            <td><input type="text" name="img_new_folder" ></td>
        </tr>-->
<!--        <tr>
            <td>Large picture:</td><td><input type="text" name="img_img" value="<?php
            if(isset($_GET['img'])){echo htmlspecialchars($picmod['pic']);}; ?>"></td>
        </tr>
        <tr>
            <td>Thumbnail:</td><td><input type="text" name="img_thumb" value="<?php
            if(isset($_GET['img'])){echo htmlspecialchars($picmod['thumb']);}; ?>"></td>
        </tr>-->
        <tr>
            <td>Large picture:</td><td><input type="file" name="img_file"  ></td>
            <?php
            if(isset($_GET['img'])){echo "<td>Current file: ".htmlspecialchars($picmod['pic']);}; ?></td>
        </tr>
        <tr>
            <td>Thumbnail:</td><td><input type="file" name="thumb_file" ></td>
            <?php
            if(isset($_GET['img'])){echo "<td>Current file: ".htmlspecialchars($picmod['thumb'])."</td>";}; ?>

        </tr>

        <?php if(!isset($_GET['img'])){echo "<tr><td colspan='2'><input type='checkbox' name = 'genthumb' value ='genthumb' checked> Generate thumbnail from large image</td></tr>";};?>
        <tr>
            <td>Make picture public:</td>
            <td colspan ="2">
                <input type="radio" id ="no" name = "is_public" value ="no" checked >
                <label for="no">No</label>
                <input type="radio" id= "yes" name = "is_public" value ="yes" >
                <label for="yes">Yes</label>
            </td>
        </tr>

        <?php if(isset($_GET['img'])){echo "<input type='hidden' name='post_type' value='update'>";
        } else {
        echo "<input type='hidden' name='post_type' value='insert'>";
        };
        if(isset($_GET['img'])){echo "<input type='hidden' name='img_id' value='".$_GET['img']."'>";};
         ?>
        <tr>
            <td></br><button class="button_greener" type="submit"><?php
            if(isset($_GET["img"])){echo 'Modify named picture';} else {echo 'Upload';};?></button>
            </td>
        </tr>
    </table>
</form>
</div>