
<?php
$picmod=array(); //picture to modify
if(isset($_GET['img'])){$picmod=pic_from_base($_GET["img"]);};
//print_r($picmod);
?>
<div class="formtables">
<form method="POST" enctype="multipart/form-data" action="?mode=change" id ="change" >
    <?php if(isset($_GET["img"])){
        echo 'Fill the information with new data to modify chosen picture: ';
        echo htmlspecialchars($picmod["title"]);
        echo '</p>';
    };?>
    <br>
    <table border="0">
        <tr>
            <td>Author:</td><td colspan="1"><input type="text" name="img_author" value="<?php
            if(isset($_GET['img'])){echo htmlspecialchars($picmod['author']);}; ?>"></td>
        </tr>
        <tr>
            <td>Title:</td><td colspan="1"><input type="text" name="img_title" value="<?php
            if(isset($_GET['img'])){echo htmlspecialchars($picmod['title']);}; ?>">
            </td>
        </tr>
        <tr>
            <td>Large picture:</td><td><input type="file" name="img_file"  ></td>
            <?php
            if(isset($_GET['img'])){echo "<td>Current file: ".htmlspecialchars($picmod['pic']);}; ?></td>
        </tr>
        <tr>
            <td>Thumbnail:</td><td><input type="file" name="thumb_file" ></td>
            <?php
            if(isset($_GET['img'])){echo "<td>Current file: ".htmlspecialchars($picmod['thumb'])."</td>";}; ?>

        </tr>

        <?php if(!isset($_GET['img'])){echo "<tr><td colspan='2'><input type='checkbox' name = 'genthumb' value ='genthumb' checked> Generate thumbnail from large image</td></tr>";};?>
        <tr>
            <td>Make picture public:</td>
            <td colspan ="2">
                <input type="radio" id ="no" name = "is_public" value ="no">
                <label for="no">No</label>
                <input type="radio" id= "yes" name = "is_public" value ="yes" checked>
                <label for="yes">Yes</label>
            </td>
        </tr>

        <?php if(isset($_GET['img'])){echo "<input type='hidden' name='post_type' value='update'>";
        } else {
        echo "<input type='hidden' name='post_type' value='insert'>";
        };
        if(isset($_GET['img'])){echo "<input type='hidden' name='img_id' value='".$_GET['img']."'>";};
         ?>
        <tr>
            <td colspan="2"></br>    <a class="button_green"  onclick="change.submit();"><?php
            if(isset($_GET["img"])){echo 'Modify named picture';} else {echo 'Upload';};?></a>
            </td>
        </tr>
    </table>

</form>
</div>