

<div class="div_gallery">
    <?php
     foreach($pictures as $pic){
        //var_dump($pic);
        //$jpgimg=$pic["mode"]; //sisaldab kogu get paringut
        $picarray=explode('\\',$pic["pic"]); //loob pildi aadressi arrayks
        //print_r($picarray);
        $jpgimg="?mode=img_view&img=".rtrim($picarray[2],".jpg");// pildi aadressist teeb get p'ringu
        $jpgthumb=$pic["thumb"];
        $alt=$pic["title"];
        echo '<a href="'.$jpgimg.'"><img src="'.$jpgthumb.'" alt="'.$alt.'"></a>';
     }
     ?>
<!--    <table class= "table_gallery" >
        <tr>
            <td><a href="img_view.html"><img src="img/thumb/img1.jpg" alt="pic"></a></td>
            <td><a href="img_view.html"><img src="img/thumb/img2.jpg" alt="pic"></a></td>
        </tr>
        <tr>
            <td><a href="img_view.html"><img src="img/thumb/img3.jpg" alt="pic"></a></td>
            <td><a href="img_view.html"><img src="img/thumb/img4.jpg" alt="pic"></a></td>
        </tr>

    </table>-->
</div>


