<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="script.js" type="text/javascript"></script>
    <link type="text/css"  rel="stylesheet" href="style.css" />

</head>
<body>
<div class="header">
    <div class="header-inner">
        <a  href="?mode=index">Home</a>
        <a id="header_active" href="?mode=gallery">Gallery</a>
        <a  href="?mode=upload">Upload</a> <!--upload.html-->
        <div>Tere Priit!</div>
    </div>
</div>

<div class="body">