
<!--
<h1>Picture</h1>-->

<!--<div style="border:grey 2px"><img src="img/img/img1.JPG" alt="pic" border=2 > </div>-->

<!--<div id="hoidja" >
    <div id="taust"></div>
    <div id="tabel">
        <div id="cell">
            <div id="sulge" onclick="hideDetails();">Sulge</div>
            <div id="sisu">
                <img id="suurpilt" src="img/img/img4.jpg" alt="ajutine"/><br/>
                <span id="inf"></span>
            </div>
        </div>
    </div>
</div>-->


<br>
<a href="controller.php?mode=gallery">back to gallery</a>

