<!--<div id="taust">

</div>-->
<h1 class="redtext">i244 projekt</h1>
<div class="different_background">
    <p> Hello World!</p> <p>Tere tulemast!</p>
    <p> See on aine i244 projekt. Projekti  eesmärk on näidata
        oskusi HTML, CSS, Javascripti, PHP ja MySQLi tundmisel.   </p>
    <p>Üldiselt näeb lehe funktsionaalsus välja üpris sarnane 2015 päevaõppe harjutustundides tehtuga:
        kasutaja saab sisse logida ja enda galeriisse pilte ülesse laadida. Kasutajaid võib olla mitu ning iga
        pildi ülesse laadimisel saab kasutaja valida, kas teha antud pilt avalikult nähtavaks või mitte.
        Lisaks on väike erinevus see, et pisipilte ei pea kasutaja ise ülesse laadima,
        need generereeritakse soovi korral serveris. Lisaks vähendadakse ka ülesse laetud pildid suuruseni,
        mille kuvamine ei koorma liigselt võrku.</p>
    <p>Iga uus huviline võib luua uue kasutaja ja hakata enda pilte ülesse laadima. Testimise nimel on juba loodud küll kaks kasutajat:</p>
        <ul>
            <li>kasutaja: autod@email.ee; parool: parool</li>
            <li>kasutaja: mets@email.ee; parool:parool</li>
        </ul>

    <p>
        Mõlemal neil on oma avalikud ja privaatsed pildid ning nende abil saab retsenseerija katsetada, kuidas veebileht töötab.
    </p>
    <br>
    <p>Nagu paljude asjadega, ei ole ka see projekt lõpuni valmis ning mina autorina ning sina retsensendina näed kindlasti palju asju,
        mida parandada, muuta, teisiti teha. Et tööd lihtsustada, siis mõned minu enda mõtted, mis ajapuudusel
    kahjuks realiseerimata on jäänud, kuid kasutuskogemust meeldivamaks muudaksid:  </p>
        <ul>
            <li>Leht võiks arvestada erineva suurusega ekraanidega, hetkel muutub see vähendades üpris koledaks. Hetkel on MVC selleks küll veel veidi segamini</li>
            <li>Uploadi vormile Javascript check</li>
            <li>Uploadi vormile taastäitmine serveri poolt, kui kasutaja midagi valesti täitis</li>
            <li>Pildi vaade ilusamaks, all võiks järgnevate piltide riba joosta</li>
            <li>Galeriides on puudu lehekülgedeks jagamine, kui pilte on palju</li>
            <li>Võiks olla mingi vaade, kust näeks suvalise teise kasutaja kõiki avalikke pilte</li>
            <li>jne...</li>
        </ul>


    <p>
        Head uurimist! <br>
        Priit Tiganik
    </p>

</div>



