
<h1 class="redtext">i244 projekt</h1>
<div class="different_background">
<p style="width: 80%">Tere tulemast! See on aine i244 projekt. Projekti  eesmärk on näidata
    oskusi HTML, CSS, Javascripti, PHP ja MySQLi tundmisel. <br><br>
    Antud projekt kujutab endast väikest pildigaleriid, kus kasutaja saab enda pilte veidi töödelda ja nendel toimuvat analüüsida
</p>
<div style="background: whitesmoke">
<ul class="menu">
    <li>
        <a href="index.html">Home</a>
    </li>
    <li>
        <a href="gallery_foot.html">Gallery</a>
    </li>
    <li>
        <a href="upload.html">Upload</a>
    </li>
</ul>
</div>
</div>
<br><br><br>
    <br>
    tekst
    <br>
    tekst    <br>
    tekst    <br>
    tekst    <br>
    tekst    <br>
    tekst    <br>
    tekst    <br>
    tekst    <br>
    tekst    <br>
    tekst    <br>
    tekst    <br>
    tekst    <br>
    tekst    <br>
    tekst    <br>
    tekst    <br>
    tekst    <br>
    tekst    <br>
    tekst    <br>
    tekst
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>
tekst    <br>


