<div class="formtables">
<form method="post" action="http://enos.itcollege.ee/~ptiganik/i244_projekt/controller.php?mode=login" id="login">

    <table>
        <tr>
            <td>email:</td><td><input type="email" name ="login_email" id=login_email" placeholder="user@email.com" value="kasutaja@email.ee"  size ="30"
            <?php if(!empty($_POST["login_email"])) echo "value=\"".htmlspecialchars($_POST["login_email"])."\" "; ?>
            </td>
            <td>
                <?php $e='missing email' ; if(!empty($errors) && in_array($e,$errors)):?>
                    <span style="color:red"><?php echo $e; ?></span>
                <?php endif;?>
            </td>
        </tr>
        <tr>
            <td>password:</td><td><input type="password" name ="login_password" id=login_password"  size ="30" ></td> <!--name ="login_password" id=login_password" -->
            <td>
                <?php $e='missing password' ; if(!empty($errors) && in_array($e,$errors)):?>
                <span style="color:red"><?php echo $e; ?></span>
                <?php endif;?>
            </td>
        </tr>
    </table>
    <button type="submit">
        log in
    </button>
</form>
</div>
<br><br>

<div class="formtables">
<p>Not registered? Register here:</p>
<form method="post" action="http://enos.itcollege.ee/~ptiganik/i244_projekt/controller.php?mode=register" id="register" >

    <table >
        <tr>
            <td>email:</td><td><input type="email" name ="register_email" id=register_email" placeholder="email@email.com"  size ="30" ></>
        </tr>
        <tr>
            <td>password:</td><td><input type="password" name ="register_password" id=register_password"  size ="30" ></td>
        </tr>
        <tr>
            <td>repeat password:</td><td><input type="password" name ="register_password_repeat" id=register_password_repeat"  size ="30" ></td>
        </tr>
    </table>
    <button type="submit">
        register
    </button>
</form>
</div>
