

<form method="post" enctype="multipart/form-data" target="img/gallery.html" >
    <table>
        <tr>
            <td>author:</td><td colspan="2"><input type="text" name="img_author"></td>
        </tr>
        <tr>
            <td>title:</td><td colspan="2"><input type="text" name="img_title"></td>
        </tr>
        <tr>
            <td>folder:</td><td colspan="2">
            <select name="img_folder">
                <option value ="new_folder">new folder</option>
                <option value ="one">one</option>
                <option value ="two">two</option>
            </select>
        </td>
            <td>new folder:</td>
            <td><input type="text" name="img_new_folder" ></td>
        </tr>
        <tr>
            <td>large picture:</td><td><input type="text" name="img_img"></td>
        </tr>
        <tr>
            <td>thumbnail:</td><td><input type="text" name="img_thumb"></td>
        </tr>
        <tr>
            <td ><button class="button_greener" type="submit">upload</button>
        </tr>
        <tr><td><div><button class="button_green" type="reset" value="clear fields">clear</button></div></td>
            <td><p class="button_green">tereyhuyyg</p></td>
        </tr>
    </table>
</form>

